// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

//Accordion
$accordion-bg: white;
$accordion-color: black;
$accordion-border-width: 2px;
$accordion-border-color: black;
$accordion-button-color: black;
$accordion-button-bg: white;
$accordion-button-active-bg: white;
$accordion-button-active-color: black;
$accordion-button-focus-border-color: rgb(222, 222, 222);
$accordion-button-focus-box-shadow: black;

$input-group-addon-border-color: black;


// ofccanvas
$offcanvas-bg-color: white;

// Bootstrap
@import 'bootstrap/scss/bootstrap';

*::selection {
    color: white;
    background-color: black;
}

*::-moz-selection {
    color: white;
    background-color: black;
}

.custom-padding {
    padding: 20px;
}

// dimensions
.profile-picture-container {
    height: 150px;
    width: 150px
}

.feedback-picture-container {
    height: 50px;
    width: 50px
}

.img-size {
    width: 150px
}

//background color white
body,
.card,
.btn-primary,
.form-check-input,
.list-group-item {
    background-color: white;
}

//buttons - links
.week-day:hover {
    font-weight: bolder !important;
}

.btn-close:focus {
    outline: black !important;
    border: 2px solid black;
    color: black;
    font-family: "Poppins", sans-serif;
}

.btn-secondary {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

.btn-secondary:hover {
    background-color: black;
    font-weight: 500;
}

.btn-primary {
    border: 2px solid black;
    color: black;
    font-family: "Poppins", sans-serif;
}

.btn-primary:hover {
    border: 2px solid black;
    font-weight: 500;
    color: black;
    background-color: rgb(222, 222, 222);
}

.btn-primary:active {
    border: 2px solid black !important;
    color: white !important;
    background-color: black !important;

}

.btn-primary:focus {
    border: 2px solid black !important;
    color: white !important;
    background-color: black !important;
}

.btn-link {
    color: black
}

.btn-link:hover {
    color: black;
    font-weight: 500;
}

.dropdown-item {
    font-family: roboto;
}

.dropdown-item:hover {
    font-weight: 500;
    color: black;
    background-color: rgb(222, 222, 222);
}

.circle-button {
    width: 70px;
    height: 70px;
    border: 3px solid #000;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.side-link {
    position: relative;
    margin-bottom: 2px;
    text-decoration: none;
}

.side-link:hover {
    font-weight: 400;
}

.side-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0.2rem;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.side-link:hover::before {
    width: 100%;
}

.side-link:hover::before {
    width: 100%;
}

/* Classe para o link selecionado */
.side-link.selected::before {
    width: 100%;
    /* Mantém o sublinhado como no hover */
}

.list-group-item {
    border: none;
}

//cards
.card {
    // border: 3px solid black;
    border: none;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    font-family: roboto;
}

.card>* {
    font-size: 1.1rem;

}

//inputs
.color-container {
    margin: 10px;
    height: 100px;
    width: 100px;
}

.color-container:hover {
    margin: 2px;
    height: 110px;
    width: 110px;
}

.selected-link {
    border-bottom: 2px solid #007bff;
    /* Cor desejada */
    border-radius: 5px;
}

.focused {
    outline: 8px solid rgb(222, 222, 222);
    border: 3px solid black;
}

.form-control {
    border: 2px solid black;
    border-radius: 0.5rem;
}

.form-control:focus {
    outline: 5px solid rgb(222, 222, 222);
    border: 3px solid black;
    box-shadow: none;
}

.form-check-input {
    border: 2px solid black;
}

.form-check-input:checked {
    background-color: black;
    border-color: gray;
    box-shadow: none;
}

.form-check-input:focus {
    border: 2px solid black;
    outline-color: gray;
    box-shadow: none;
}

.form-select {
    border: 2px solid black;
    border-radius: 0.5rem;

}

.form-select:focus {
    outline: 5px solid rgb(222, 222, 222);
    border: 3px solid black;
    box-shadow: none;
}

//Container do display

.full-height-76vh {
    height: 76vh;
    overflow: auto;
}

.full-height-73vh {
    height: 73vh;
    overflow: auto;
    overflow-x: hidden;
}

.container-day {
    height: 100%;
    position: relative;
}

.task-container {
    position: relative;
    /* Necessário para o pseudo-elemento */
}

.task-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    /* Inicia transparente */
    transition: background-color 0.3s ease;
    z-index: 1;
}

.day-block {
    position: relative;
    height: 18vh;
    transition: background-color 0.3s ease;
    /* Adiciona uma transição suave */
}

.day-block:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Cor de fundo ao passar o mouse */
}

.day-block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(182, 182, 182, 0);
    /* Inicia transparente */
    transition: background-color 0.3s ease;
    /* Suaviza a transição */
    z-index: 1;
}

.day-block:hover::after {
    background-color: rgba(182, 182, 182, 0.1);
    /* Muda a cor de fundo no hover */
    z-index: 1;
    /* Certifica-se de que o hover cubra o conteúdo */
}

.task-container:hover::after {
    background-color: rgba(182, 182, 182, 0.2);
    /* Adiciona uma camada opaca ao passar o mouse */
}

//Poppins's classes

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

//Roboto's classes

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}